<h1>Добро пожаловать</h1>


<p>Здесь только лучшие МЛМ-проекты</p>




<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="card-image">
                <img src="https://a.d-cd.net/70da851s-960.jpg" class="mlm img" alt="shut up and take my money">
            </div>
        </div>
    </div>
</div>

{{#if isAuth}}
<div class="col s6 offset-s3">
    <strong> email, использованный при регистрации, является инвайт-кодом для приглашения других участников в
        МЛМ-проекты </strong>
</div>
{{/if}}